In [33]:
#Importing Pandas
import pandas as pd

In [34]:
# pull dataset from url
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df_test = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', skiprows=1, header=None)

In [35]:
# adding the column headers
columns = 'age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income_bin'.split(', ')

In [36]:
df.columns = columns
df_test.columns = comun

NameError: name 'comun' is not defined

In [ ]:
# Getting to know the main dataframe
# Shape of DataFrame
print(df.shape)

In [ ]:
# Getting the data types of each column
df.info()
# income_bin is a string, let's transform it to something more suitable

In [25]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income_bin
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [26]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df['income'].unique()

KeyError: 'income'

In [18]:
df.columns

MultiIndex(levels=[['age', 'capital-gain', 'capital-loss', 'education', 'education-num', 'fnlwgt', 'hours-per-week', 'income_bin', 'marital-status', 'native-country', 'occupation', 'race', 'relationship', 'sex', 'workclass']],
           labels=[[0, 14, 5, 3, 4, 8, 10, 12, 11, 13, 1, 2, 6, 9, 7]])